
# Backend
backend/node_modules/
backend/dist/
backend/database.sqlite
backend/*.log

# Frontend
node_modules/
.angular/
dist/
.env
*.log
.DS_Store


# Backend
backend/node_modules/
backend/dist/
backend/database.sqlite
backend/*.log

